<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="AppName" value="/GpiUserManagement"/>
  </appSettings>
	<connectionStrings>
		<remove name="GpiDbConnectionString"/>
		<!-- On local, run the web service in place, or publish to http://localhost/gpiws and http://localhost/gpiws_s -->
    <!--
		<add name="GpiDbConnectionString" connectionString="Data Source=SPHINX;Initial Catalog=GpsPostIt;User ID=GpiAdmin;Password=GpiPassword"/>
    -->

    <!-- On dev, publish this service to http://www.gpspostit-dev.com/gpiws and http://www.gpspostit-dev.com/gpiws_s -->
    
    <add name="GpiDbConnectionString" connectionString="Data Source=tcp:sql2k514.discountasp.net;Initial Catalog=SQL2005_516704_gpspostitdev;User ID=SQL2005_516704_gpspostitdev_user;Password=hoochiMaMa2;" />
    

    <!-- On prod, publish this service to http://www.gpspostit.com/gpiws and http://www.gpspostit.com/gpiws_s -->
    <!--    <add name="GpiDbConnectionString" connectionString="Data Source=tcp:sql2k507.discountasp.net;Initial Catalog=SQL2005_352303_gpspostit;User ID=SQL2005_352303_gpspostit_user;Password=hoochiMaMa;Pooling=true;Min Pool Size=10;Max Pool Size=100;"/>
    -->
</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
    -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
    -->
		<authentication mode="None">
		</authentication>
		<authorization>
			<allow users="?"></allow>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<membership defaultProvider="CustomizedProvider">
			<providers>
				<remove name="CustomizedProvider"/>
				<add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="GpiDbConnectionString" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" requiresUniqueEmail="true"/>
			</providers>
		</membership>
		<!--
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    -->
	</system.web>
</configuration>
